<div class="my-4 px-6" id="logo">
  <h1 class="text-lg md:text-2xl font-bold text-white">
    {{envs.nombreApp}}
    <span class="text-blue-500">8</span>.
  </h1>
  <p class="text-slate-500 text-sm">{{envs.slogan}}</p>
</div>

<div id="profile" class="px-6 py-6 flex items-center space-x-3">
  <img
    class="rounded-full w-8 h-8 object-cover flex-shrink-0"
    src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?auto=format&fit=crop&w=128&q=80"
    alt="profile"
  />
  
  <div class="flex flex-col sm:flex">
    <p class="text-slate-500 text-xs">Welcome back,</p>
    <span class="text-sm md:text-base font-bold text-white">Edward Tompson</span>
  </div>
</div>